@page
@model DisclaimerModel
@{
    ViewData["Title"] = "Disclaimer Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The box. You opened it. We came. Now you must come with us, taste our pleasures.</p>
<img src=~/img/box.gif />
<p>We have such sights to show you!</p>
